# Server Configuration
PORT=3002
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://mongo-users:27017/users_db
MONGODB_URI_LOCAL=mongodb://localhost:27018/users_db

# JWT Configuration (debe coincidir con el microservicio de auth)
JWT_SECRET=mi_clave_secreta_desarrollo_2024
JWT_EXPIRE=24h

# Auth Microservice URL
AUTH_SERVICE_URL=http://auth-service:3001

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080